@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/jacarei-bg.jpg);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header {
    padding: 30px;
    background-color: #0e0b0be1;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#inicio{
    padding: 30px;
    background-color: #0e0b0be1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 50px ;
}
h1{
  color: aliceblue;
}

h2{
  margin-bottom: 20px;
  text-align: center;
}

.gridc{
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.gridr{
  display: grid;
  grid-template-rows: .5fr .5fr .2fr .5fr;
}

.menu{
  background-color: rgb(43, 50, 83);
  text-align: center;
  font-weight: bold;
  color: blanchedalmond;
}

ol li a:hover {
	background: rgba(0,0,0,.2);
}

ol{
  margin-top: 20px;
  list-style-type: none;
}
li{
  margin: 20px;
}

#grupo:nth-child(2){
  margin-left: 25px;
  list-style-type: none;
}


.content, .redesSociais, .formulario, .curiosidades {
  background-color: #ffffffbd;
  padding: 80px;
  text-align:justify;
}

.titulo{
  background-color: #ffffffbd;
  color: black;
  text-align: center;
}

span {
  font-weight: bolder;
}

.text{
  text-indent: 40px
}

.video {
  text-align: center;
  margin: 5% auto;
}

.icons {
  text-align: center;
  display: block;
}

a {
  padding: 1%;
  text-decoration: none;
  color: blanchedalmond;
}

#inicio::first-letter{
  color: rgb(255, 0, 0);
}

.formulario{
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
}
label{
  display: block;
}

select{
  display: inline-block;
}

input, textarea{
  margin-bottom: 15px;
}

input{
  transition: all 0.5s ease-in-out;
}
select{
  margin: 0px auto 15px;
}

.idade label, .motivo label{
  display: inline-block;
  margin-right: 10px;
}

input{
  align-content: center;
}

button{
  margin: 3% 0;
}